<h3>To search commits in github enter criteria:</h3>

<form action="search" method="post">
  User or Organization: <input type="text" name="owner">
  Repository: <input type="text" name="repository">
  Look back hours: <input type="text" name="lookback">
  <input type="submit">
</form>